# --- Flutter / Dart ---
.dart_tool/
.packages
.pub/
build/
.metadata

# --- Logs & temp ---
*.log
*.tmp
*.swp

# --- IDE / Editors ---
# Android Studio / IntelliJ
*.iml
.idea/

# VS Code
.vscode/

# --- OS files ---
.DS_Store
Thumbs.db
Desktop.ini

# --- Android only ---
android/.gradle/
android/local.properties
android/captures/

# Variant build outputs
android/app/debug/
android/app/profile/
android/app/release/

# Generated plugin registrant (re-created by Flutter)
lib/generated_plugin_registrant.dart
