# Flutter/Dart/Pub
.dart_tool/
.build/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.lock
pubspec.lock

# Android
/android/.gradle/
/android/app/build/
/android/local.properties

# Other
*.log
*.DS_Store
